body {
  margin: 0;
  font-family: 'Helvetica', 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000;
}

p{
  color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.rc-dialog-content{
  background-color: rgba(35, 37, 38, 1);
  border-radius: 16px;
  border: 1px solid #fff;
}
.rc-dialog-header{
  background-color: rgba(35, 37, 38, 1);
  border-radius: 16px;
}

.rc-dialog-title{
  color: #fff
}